<!DOCTYPE html>
<head>
</head>
<body>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    
<% var username %>
<p><label><%= username %></label></p>    
<p><label>Logged in</label></p>
<form action="/sign_out" method="GET">
<input type="button" id="log_out" name="log_out" Value="Log Out"></input>
</form>        
                  <center>
          <h2 >My recent Health Data </h2>
                  <table>
  <tr><p><label>Blood Pressure:</label><input type="text" id="bp" required></p></tr>
  <tr><p><label>Heart Rate:</label><input type="text" id="hr" required></p></tr>
  <tr><p><label>Sugar Level:</label><input type="text" id="sl" required></p></tr>
  <tr><p><label>Sleep Pattern:</label><select id="slp" name="slp" required>
      <option value="g">Good</option>
      <option value="f">Fair</option>
      <option value="b">Bad</option>
      <option value="w">Worse</option>
       </select></p></tr>
  <tr><p><button id="submit" >Submit</button></p></tr>
  <tr><p><button id="sendloc" >Send Location</button></p></tr>
  <div id="messages" >Delivered Messages below :</div>

                 </table>
                 </center>
            
<script src="/socket.io/socket.io.js"></script>

<script id="render" type="text/html" >
<p>Blood Pressure:{{BlP}},Heart rate:{{Hr}}</p>
</script>


<script >

const sock=io();

button=document.getElementById('submit');

input_bp=document.getElementById('bp');

input_hr=document.getElementById('hr');

render_here=document.getElementById('render').innerHTML;

mess_place=document.querySelector('#messages');

sock.on('welcome',(message)=>{

    console.log(message)

})

document.querySelector('#submit').addEventListener('click',()=>{

sock.emit('print_health',document.getElementById('bp').value,document.getElementById('hr').value)

button.disabled=true;

input_bp.value='';

input_hr.value='';

input_bp.focus();

button.disabled=false;
})

sock.on('client_print_health',(bp,hr)=>{


    const rendering = Mustache.render(render_here,{BlP:bp , Hr:hr});

    mess_place.insertAdjacentHTML('beforeend',rendering);

    

    console.log("Blood pressue:",bp,"Heart Rate:",hr)

})

document.querySelector('#log_out').addEventListener('click',()=>{


document.location.assign('/sign_out')

})
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js">
</script>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js">
</script>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js">
</script>

            
   
</body>




