<!DOCTYPE html>
<head>
    <script src="https://kit.fontawesome.com/221ff96759.js" crossorigin="anonymous"></script>
    <!-- Include Plotly.js --><script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<style>
  .header {
    color: #36A0FF;
    font-size: 27px;
    padding: 10px;
}

.bigicon {
    font-size: 35px;
    color: #36A0FF;
}


body {
  font-family: Arial;
}

input[type=number], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #007bff;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: gray;
}

div.container {
  border-radius: 5px;
  background-color: gainsboro;
  padding: 20px;
}
</style>
</style>

<body >

  
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://http://code.jquery.com/jquery-3.4.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>    

</script>

<div class="row">
    <div class="col-lg-12">
       <nav class="navbar navbar-expand-lg navbar-dark bg-primary" >
           <ul class="nav justify-content-end"> 
              <li class="nav-item" class="nav justify-content-end">   
                  <a class="navbar-brand" href="#">HealthLens</a>
                  </li>
            <li class="nav-item" class="nav justify-content-end"> 
           <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
           </form>
           </li>
           <li class="nav-item" class="nav justify-content-end">
           <input type="button" id="log_out" name="log_out" value="LogOut" class="btn btn-primary" > </input>
          </li>
          </ul>
        </div>
      </nav>

</div>
<div class="row">
    <div class="col-lg-2">
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary flex-column" class="height:100%">
            <i class="fas fa-user fa-10x"></i>
            <% var username %>
            <label class="navbar-brand"><%= username %></label>
        
            <nav class="navbar navbar-expand-lg navbar-dark bg-primary flex-column" class="height:100%">
            <ul class="nav flex-column">

                <li class="nav-item">
                  <a class="navbar-brand" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="navbar-brand" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="navbar-brand" href="#">Link</a>
                </li>
                <li class="nav-item">
                  <a class="navbar-brand" href="#" >Link</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#">Link</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#" >Link</a>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand" href="#" >Link</a>
                  </li>
                  <li class="nav-item">
                      <a class="navbar-brand" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                      <a class="navbar-brand" href="#" >Link</a>
                  </li>
                  <li class="nav-item">
                    <a class="navbar-brand" href="#" >Link</a>
                  </li>
                  <li class="nav-item">
                      <a class="navbar-brand" href="#">Link</a>
                  </li>
                  <li class="nav-item">
                      <a class="navbar-brand" href="#" >Link</a>
                  </li>
              </ul>
                     
        </nav> 
      </div>

    
             
              
                    <div class="container">
                        <form >
                          <label for="bp_sys">Blood Pressure Systolic</label>
                          <input id="bp_sys" name="bp_sys" type="number"  step="1"  min="50" max="250" placeholder="Systolic BP Min: 50 Max:250 Normal:120" >
                      
                          <label for="bp_dias">Blood Pressure Diastolic</label>
                          <input id="bp_dias" name="bp_dias" type="number" placeholder="Diastolic BP Min: 30 Max:150 Normal:80" step="1" min="30" max="150">
                      
                          <label for="cholestrol">Total Cholestrol</label>
                          <input id="cholestrol" name="cholestrol" type="number" step="0.5" placeholder="Cholestrol Min: 10 Max:700 Normal:below 200"  min="10" max="700" >
                        
                          <label for="sugar">Total Sugar</label>
                          <input id="sugar" name="sugar" type="number" placeholder="Sugar in mg/dL Min:30 Max:500  Normal:around 130" step="0.1" >
                          
                          <label for="sugar">Total Uric Acid</label> 
                          <input id="uacid" name="uacid" type="number" placeholder="Uric Acid in mg/dL Min: 2 Max:10 Normal:around 4" step="0.1" min="2" max="10" >
                          
                          <input type="submit" value="Submit" id="submit" name="submit" >
                        </form>
                      </div>                   
                
            
       
    
    </div>
    


<script
src="https://cdnjs.cloudflare.com/ajax/libs/mustache.js/3.0.1/mustache.min.js">
</script>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js">
</script>

<script
src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.6.0/qs.min.js">
</script>

<script>
 function readCookie(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i=0;i < ca.length;i++) {
        var c = ca[i];
        while (c.charAt(0)==' ') c = c.substring(1,c.length);
        if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length,c.length);
    }
    return null;
}   
var token=readCookie('auth');


a_health=document.getElementById('health');

a_cpmparison=document.getElementById('comparison');

a_useful=document.getElementById('useful');


document.querySelector('#log_out').addEventListener('click',()=>{


document.location.assign('/sign_out/'+token)

})

document.querySelector('#submit').addEventListener('click',()=>{
    

    var i=0
    var b_sys=document.getElementById('bp_sys').value 
    var b_dias=document.getElementById('bp_dias').value
    var chol=document.getElementById('cholestrol').value
    var sug=document.getElementById('sugar').value 
    var uac = document.getElementById('uacid').value 
              

    var data={ bp_sys:b_sys,bp_dias:b_dias,cholestrol:chol,sugar:sug,uacid:uac}
    
    console.log(data)

    fetch('/health_/'+token, {
        method: 'POST', 
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify(data),
}).then(response => response.json()).then(data => {

    //after certain time may get on to that page where the health data is being displayed
    setTimeout(function () {        
        document.location.assign('/health_/'+token);
        }, 3000)
   
  
}).catch((error) => {
  console.error('Error:', error);
});
    

})

    
</script>
</body>